$primary-color:black;

h1{
  color:$primary-color;
  height:150px;
  text-align: center;
  background-color: cadetblue;
  padding-top: 20px;
}
.header {
    height:50px;
    background-color: cadetblue;
    color: black;
    font-size: 24px;
}
.row .col-sm-3
{
    height:400px;
}
.row .col-sm-6
{
    height:400px;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: black;
  }