@import "~bootstrap/dist/css/bootstrap.min.css";

// span {
//     margin-left:20px;
// }
.div1 {
    margin-left: 20px;
}
.div2{
    margin-left: 50px;
}

img{
    height: 25px;
    width: 25px;
    margin-left: 25px;
}
#card-title{
    // margin-left: 50px;
    color: white;
    font-weight: bolder;
}

p{
    font-size: medium;
    font-weight: bold;
}