<!-- <p>user works!</p> -->

<ul *ngFor='let user of users'>
    <li>{{user.first_name}}</li>
    <li>{{user.email}}</li>
    <li>{{user.last_name}}</li>
</ul>
<!-- <table  *ngFor='let user of users' border="1" >
    <tr>
        <td>{{user.first_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.last_name}}</td>
    </tr>
</table><br/><br/> -->

<div class="col-sm-6">
    <form [formGroup]="userForm" (ngSubmit)="postData()">
       <div class="form-group">
          <label>id</label>
          <input type="number" class="form-control" formControlName="name" placeholder="Enter the user id">
       </div>
       <div class="form-group">
             <label>email</label>
             <input type="email" class="form-control" formControlName="email" placeholder="Enter the email id">
          </div>
          <div class="form-group">
             <label>first_name</label>
             <input type="text" class="form-control" formControlName="first_name" placeholder="Enter the first name">
          </div>
          <div class="form-group">
             <label>last_name</label>
             <input type="text" class="form-control" formControlName="last_name" placeholder="Enter the last name">
          </div>
          <button class="btn btn-primary" (click)="onEnter()">Submit</button>
    </form>
 </div>
 