<!-- <h3>Bootstrap components using cards layout</h3> -->
<h1>Image Gallery</h1>
<!-- <button class="btn btn-primary" (click)="toggle()">{{buttonName}}</button> -->
<!-- <div *ngIf="show">
<div class="row" *ngFor='let img of images'>
    <div class="card col-sm-3" style="width: 18rem; height:350px;">
        <img src="../../../assets/adobestock_224024212.jpeg" class="card-img-top" alt="kerala boat house" style="width:280px; height:200px;">
        <div class="card-body">
        <p class="card-text" appDescriptionBackground>{{img.imgDescription | titlecase }}</p>
        <button class="btn btn-primary" (click)="toggle()">{{buttonName}}</button>
        
        </div>
    </div>
</div>
</div> -->
<div class="row">
    <div class="card col-sm-4" style="width: 18rem;height:350px;">
        <img src="../../../assets/adobestock_224024212.jpeg" class="card-img-top" alt="natural satellite" style="width:280px;height:200px;">
        <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>    
        </div>
    </div>
    <div class="card col-sm-4" style="width: 18rem;height:350px;">
        <img src="../../../assets/avengers.jpg" class="card-img-top" alt="reel hero" style="width:280px;height:200px;">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card col-sm-4" style="width: 18rem;height:350px;">
        <img src="../../../assets/pizza-hut.jpg" class="card-img-top" alt="sindhiya's fav" style="width:280px;height:200px;">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div> 
    </div>
 </div><br/>
 <div class="row">
    <div class="card col-sm-4" style="width: 18rem;height:350px;">
        <img src="../../../assets/unnamed-removebg-preview.png" class="card-img-top" alt="natural satellite" style="width:280px;height:200px;">
        <div class="card-body">
        <p class="card-text">some description</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>    
        </div>
    </div>
 </div>
<!--  
 <br/><br/>
 <label>img id</label>
 <input type="number"><br/>
 <label>img name</label>
 <input type="text"><br/>
 <label>img src</label>
 <input type="any"><br/>
 <label>imgDescription</label>
 <input type="text"><br/><br/>
 <button class="btn btn-primary" (click)="onClick()">Add Image</button>  -->



<!--search and pipe functionality-->
<!-- <div>
    Search: <input type="text" [(ngModel)]="searchText" />
    <br/>
    {{searchText | titlecase}}
</div> -->
<!--pipes-->
<!-- <div>
    <h4>pipe with date</h4>
    Date: <input type="date" [(ngModel)]="dateFormat" />
    <br/>
    {{dateFormat | date:'fullDate'}}
</div>
<div>
    <h4>currency pipe</h4>
    <p>{{amount| currency:'USD'}}</p>
    <h4>pipe with decimal</h4>
    <p>{{pi|number}}</p>
</div> -->
<!--custom pipe-->
<!-- <div>
    <h4>custom pipe</h4>
    <p>{{number | squareNumber}}</p>
</div> -->

